@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
}

#wrap {
    width: 100%;
    position: relative;
}
.align{
    width: 1340px;
    margin: auto;
}

header .header_area {
  width: 100%;
  margin: 0 auto;
  display: flex;
  
}
header .header_area::after{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  height: 0;
  background-color: #77f;
  transition: .4s;
  z-index: 1;
}
header .header_area.on::after{
  height: 180px;
}
header .header_area .logo {
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header_area nav {
  width: 80%;
  height: 100px;
}
header nav .mainMenu{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
header nav .mainMenu li{
  width: 200px;
  text-align: center;
  color: #fff;
}
header nav .mainMenu> li{
  background: #55f;
}
header nav .mainMenu> li> a{
  line-height: 50px;
}
header nav .mainMenu> li:hover{
  background: #44f;
}
header nav .mainMenu .subMenu{
  position: absolute;
  z-index: 3;
  display: none;
}
header nav .mainMenu .subMenu li{}
header nav .mainMenu .subMenu li a{
  line-height: 45px;
  /* background: #77f; */
}
header nav .mainMenu .subMenu li a:hover{
  background-color: #99f;
}

main {
    width: 100%;
    height: 350px;
}
main ul.slider{
position: relative;
}
main ul.slider li{
    width: 100%;
    height: 350px;
    position: absolute;
}

main ul.slider li a span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,.8);
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 30px;
}
main ul.slider li a:hover img{
    opacity: .8;
}
main ul.slider li a:hover span{
    font-weight: bold;
}

section {
    position: relative;      
}

section .link {
    position: absolute;
    top: -100px;
    width: 1340px;
    height: 100px;
    background-color: #ceeff5;
}
section .link ul{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section .link ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
section .link ul li a img{
  opacity: .8;
}
section .link ul li a img:hover{
  opacity: 1;
}


section .banner{
  width: 100%;
  height: 150px;
  position: relative;
}

section .banner ul {
  width: 100%;
  height: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

section .banner ul:hover{
  opacity: .8;
}

section .banner > a{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section .banner:hover img{
  opacity: .8;
}

section .banner li h4{
  line-height: 3;
  font-size: 1.2rem;
}

section .banner li p{
  width: 80%;
}

section .banner li span{
  width: 60px;
  height: 60px;
  display: block;
  border-top: 5px solid #333;
  border-right: 5px solid #333;
  transform: rotate(45deg);
  text-indent: -9999px;
}


.content {
  width: 100%;
  display: flex;
  border-left: 1px solid #eee;
}
.content div{
  padding: 15px 20px;
}
.content div h2{
  width: 100px;
  line-height: 35px;
  border: 1px solid #333;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: none;
}
section .content1 {
  width: 50%;
  height: 250px; 
}
section div ul{
  width: 95%;
  height: 180px;
  border: 1px solid #333;
}

section .content1 .notice{
}
section .content1 .notice li:nth-child(even){
  background-color: #eee;
}
section .content1 .notice li:hover{
  background-color: #eea;
}
section .content1 .notice li a{
  width: 90%;
  margin: auto;
  line-height: 2.5;
  display: flex;
  justify-content: space-between;
}
section .content1 .notice li a strong{
  font-size: 17px;
}
section .content1 .notice li a span{}

section .content2 {
  width: 50%;
  height: 250px;
}
section .content2 .gallery{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
section .content2 .gallery li{}
section .content2 .gallery li a{}
section .content2 .gallery li a img{
  width: 135px;
}
section .content2 .gallery li a span{
  display: block;
  text-align: center;
}
section .content2 .gallery li a:hover img{
  opacity: .8;
}
section .content2 .gallery li a:hover span{
  font-weight: bold;
}

#modalArea{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 3;
  display: none;
}
#modalArea .modal{
  background-color: #fff;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 40px;
  text-align: center;
}
#modalArea .modal h4{
  font-size: 1.2rem;
}
#modalArea .modal p{
  padding: 30px 10px 40px;
}
#modalArea .modal .btn{
  display: inline-block;
  border: 1px solid #333;
  padding: 10px 15px;
  font-size: 12px;
}
#modalArea .modal .btn:hover{
  background-color: #333;
  color: #fff;
}

footer{
  width: 100%;
  height: 120px;
  background-color: #ddd;
  display: flex;
}
footer .flogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .flogo h3{}
footer .flogo h3 a{}
footer .flogo h3 a img{}
footer .f-all{
  height: 60px;
  padding-left: 15px;
}
footer .f-all .fmenu{
  display: flex;
  height: 60px;
  align-items: center;
  gap: 30px;
}
footer .f-all .fmenu li{
  position: relative;
}
footer .f-all .fmenu li::after{
  content:"|";
  position: absolute;  
  top: 0;
  right: -20px;
}
footer .f-all .fmenu li:last-child:after{
  display: none;
}
footer .f-all .fmenu li a:hover{
  text-decoration: underline;
}
footer .f-all address{
  line-height: 60px;
}

