@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  font-size: 16px;
  color: #333;
  background-color: #fff;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
  display: block;
}
address{
  font-style: normal;
}
#wrap {
  width: 1000px;
  display: flex;
}
header {
  width: 20%;
}
header h1 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 100%;
  height: 550px;
}
header nav .mainmenu{
  width: 85%;
  margin: auto;
  text-align: center;
  color: #fff;
}
header nav .mainmenu li{
  background-color: #f66;
  border: 1px solid #eee;
}
header nav .mainmenu > li:hover{
  background-color: #f33;
}
header nav .mainmenu > li> a{
  line-height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
}
header nav .mainmenu .submenu{
  display: none;
}
header nav .mainmenu .submenu li{
  background-color: #f99
}
header nav .mainmenu .submenu li:hover{
  background-color: #f88
}
header nav .mainmenu .submenu li a{
  line-height: 45px;
  font-size: 1.1rem;
}

main {
  width: 80%;
}

article {
  width: 100%;
  height: 350px;
}
article ul.slider{
  position: relative;
}
article ul.slider li{
  position: absolute;
}
article ul.slider li a{}
article ul.slider li a:hover img{
  opacity: .8;
}
article ul.slider li a:hover span{
  font-weight: bold;
}
article ul.slider li a span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(255,255,255,.8);
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 30px;
}
section {
  width: 100%;
  display: flex;
}

section .content1 {
  width: 40%;
  height: 200px;
  padding: 10px;
}
section section h3{
  display: inline-block;
  padding: 5px;
  background-color: #444;
  color: #fff;
  font-size: 1rem;
}
section .content1 .notice{
  border: 1px solid #333;
}
section .content1 .notice li:nth-child(even){
  background-color: #ccc;
}
section .content1 .notice li:hover{
  background-color: #aaa;
}
section .content1 .notice a{
  display: flex;
  justify-content: space-around;
  line-height: 2.3;
}
section .content2 {
  width: 35%;
  height: 200px;
  padding: 10px;
}
section .content2 .gallery{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #333;
}
section .content2 .gallery li{}
section .content2 .gallery li a{}
section .content2 .gallery li a img{}
section .content2 .gallery li a span{
  display: block;
  text-align: center;
}
section .content2 .gallery li:hover a img{
  opacity: .8;
}
section .content2 .gallery li:hover a span{
  font-weight: bold;
  text-align: center;
}

section .content3 {
  width: 25%;
  height: 200px;
  position: relative;
  padding: 10px;
}
main .content3 a{}
main .content3 a img{
  width: 100%;
  height: 180px;
}
main .content3 a span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px 15px;
  background-color: rgba(255,255,255,.6);
  border-radius: 15px;
}
main .content3 a:hover img{
  opacity: .8;
}
main .content3 a:hover span{
  font-weight: bold;
}
#modalArea{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  display: none;
}
#modalArea .modal{
  width: 500px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 30px;
  text-align: center;
}
#modalArea .modal h4{
  font-size: 1.3rem;
}
#modalArea .modal p{
  padding: 20px 30px 40px;
  font-size: 1.1em;
  line-height: 1.5;
}
#modalArea .modal .btn{
  display: inline-block;
  padding: 10px 20px;
  background-color: #666;
  color: #fff;
  cursor: pointer;
}
#modalArea .modal .btn:hover{
  background-color: #333;
  font-weight: bold;
}
footer {
  width: 100%;
  display: flex;
  background-color: #f66;
  align-items: center;
  color: #fff;
}

footer .footer1 {
  width: 70%;
  text-align: center;
}

footer .footer2 {
  width: 30%;
}

footer .footer2 .footer2-1 {
  width: 100%;
  height: 50px;
}
footer .footer2 .footer2-1 ul{
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer2 .footer2-1 ul li img{
  width: 35px;
}
footer .footer2 .footer2-2 {
  width: 100%;
  line-height: 50px;
  text-align: center;
}
footer .footer2 .footer2-2 select{
  width: 200px;
}
footer .footer2 .footer2-2 select option{}